# Core Geospatial & Analysis
osmnx
geopandas
scipy
networkx

# Web App & Interactivity
streamlit
streamlit-folium
folium
branca
geopy

# PDF Reporting
fpdf2

# Data Handling
pandas
numpy

# Plotting
matplotlib