# Core Geospatial & Analysis
osmnx
geopandas
scipy
networkx

# Web App & Interactivity
streamlit
streamlit-folium
folium
branca
geopy

# Data Handling
pandas
numpy

# Plotting
matplotlib

# Export
simplekml

# API endpoint (optional)
fastapi
uvicorn
